[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.78.0"
uvicorn = {version = "==0.17.6", extras = ["standard"]}
pytest = "==7.1.2"
requests-toolbelt = "==0.9.1"
autopep8 = "==1.7.0"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
build = "docker buildx build -f Dockerfile --platform linux/amd64 -t dockerhub.qingcloud.com/qingtest/auth:1.0 . --push"

