[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.78.0"
uvicorn = {version = "==0.17.6", extras = ["standard"]}
pytest = "*"
requests-toolbelt = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
serve = "uvicorn src.main:app --reload --host=127.0.0.1 --port=8001"
build = "docker buildx build -f Dockerfile --platform linux/amd64 -t mx2542/anti-auth:1.0 . --push"
deploy = "helm install auth chart"
